pip~=26.0.1
attrs~=25.3.0
protobuf~=7.34.1
pillow~=11.0.0
tornado~=6.4.2
Jinja2~=3.1.6
setuptools~=65.5.0
packaging~=24.1
pyparsing~=3.2.0
typing_extensions~=4.12.2
matplotlib~=3.9.2
streamlit~=1.56.0
pandas~=3.0.2
mysql-connector-python~=9.6.0
python-dotenv~=1.2.2